.detailWrapper{
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;

    .active{
        background:linear-gradient(35deg,#494949,#313131);
        color:white;
    }
    h2{
        margin-bottom: 2rem;
    }
    li{
        font-size: 1.2rem;
        line-height: 2.5rem;


    }
    ul{
        margin-top: 2rem;
    }
}

// .detailBtn{
// padding:1rem 2rem;
// color: #313131;
// background-color: white;
// border: 2px solid black;
// margin-right: 2rem;
// font-family: 600;

// }

.info{
    margin: 1rem 3rem;

    h3{
        margin-top: 3rem ;
        font-weight: 500;
    }
}